{% extends 'SeleyaBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block content %}
<div class="span10 offset1">
	<div class="row-fluid main-border">
		<div class="page-header">
			<h4>{% trans %}Fachbereiche{% endtrans %}</h4>
		</div>
		<div class="page-sub-header">
			<h5>{{ faculty.name }}</h5>
		</div>
		{% if courses|length > 0 %}
			<ul class="course-list unstyled">
				{% for course in courses %}
					{% include 'SeleyaBundle:Faculty:course_entry.html.twig' with {'course': course} %}
				{% endfor %}
			</ul>
		{% else %}
			{{ flash('error', 'Es sind keine Veranstaltungen in diesem Fachbereich vorhanden.'|trans, false, true) }}
		{% endif %}
		{% if hasMoreCourses %}
			<div class="text-center">
				<a href="{{ path('faculty', {'facultyId': faculty.id, 'page': currentPage+1}) }}"
				   class="btn btn-mini"
				   data-faculty-id="{{ faculty.id }}"
				   data-current-page="{{ currentPage }}"
				   id="loadMoreCourses">
					<span class="spin hide"></span>
					Weitere Veranstaltungen...
				</a>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block bottom_script %}
	<script type="text/javascript" src="{{ asset('bundles/seleya/js/faculty/Courses.js') }}"></script>
{% endblock %}
