{% extends 'SeleyaBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block content %}
<div class="span10 offset1">
	<div class="row-fluid main-border">
		<div class="page-header">
			<h4>{% trans %}Fachbereiche{% endtrans %}</h4>
		</div>
		{% if faculties|length == 0 %}
			{{ flash('info', 'Es sind keine Fachbereiche mit Aufzeichnungen vorhanden.'|trans, false, true) }}
		{% endif %}
		<ul class="faculty-list unstyled">
			{% for faculty in faculties %}
				<li>
					<a href="{{ path('faculty', {'facultyId': faculty.data.id}) }}" class="load-courses" data-faculty-id="{{ faculty.data.id }}">
						<span class="title">{{ faculty.data.name }}</span>
						<span class="record-count">
							{% transchoice faculty.recordCount with {'%count%': faculty.recordCount} %}
								{0}%count% Aufzeichnungen | {1}%count% Aufzeichnung | ]1,Inf]%count% Aufzeichnungen
							{% endtranschoice %}
						</span>
					</a>
					<div class="course-list-container hide" data-faculty-id="{{ faculty.data.id }}">
						<div class="spin-container"><span class="spin"></span></div>
						<ul class="course-list unstyled inline clearfix block">
						</ul>
						<a href="{{ path('faculty', {'facultyId': faculty.data.id}) }}" class="btn btn-small btn-to-course">Alle Veranstaltungen aus diesem Fachbereich</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block bottom_script %}
	<script type="text/javascript" src="{{ asset('bundles/seleya/js/faculty/Faculty.js') }}"></script>
{% endblock %}
