{% extends 'SeleyaBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block content %}
<div class="span8 offset1">
	<div class="row-fluid main-border">
		<div class="page-header">
			<h4>{{ record.title }}</h4>
			<span class="bookmark-ribbon {% if hasBookmark %}active{% endif %}" id="bookmark" data-toggle="tooltip" data-placement="bottom" data-record-id="{{ record.id }}" title=""></span>
		</div>
		<div class="center">
			<div class="iframe-container">
				<div class="iframe-dummy"></div>
				<div class="iframe-container-inner">
					<iframe class="matterhorn" scrolling="no" src="{{ engage_url }}/engage/ui/embed.html?id={{ record.externalId }}"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid padding-top-medium main-border">
		<div class="span6">
			<dl class="record-metadata">
				<dt>{% trans %}Aufzeichnung{% endtrans %}</dt>
		  		<dd>{{ record.recordDate|localizeddate('long', 'none') }}</dd>
		  		{% if record.lecturers|length > 0 %}
					<dt>
						{% if record.lecturers|length == 1 %}
							{% trans %}Dozent{% endtrans %}
						{% else %}
							{% trans %}Dozenten{% endtrans %}
						{% endif %}
					</dt>
			  		<dd>
			  			<ul class="unstyled">
			  			{% for lecturer in record.lecturers %}
			  				<li>{{ lecturer.commonName }}</li>
			  			{% endfor %}
			  			</ul>
			  		</dd>
		  		{% endif %}
		  		{% for metadata in record.metadata %}
		  			{% if metadata.value != null %}
			  			<dt>{{ metadata.config.name }}</dt>
			  			<dd>
			  				{% if metadata.config.definition.id == 'date' %}
			  					{{ metadata.value|localizeddate('long', 'none') }}
			  				{% elseif metadata.config.definition.id == 'datetime' %}
			  					{{ metadata.value|localizeddate('long', 'short') }}
			  				{% elseif metadata.config.definition.id == 'url' %}
			  					<a href="{{ metadata.value }}">{{ metadata.value }}</a>
			  				{% elseif metadata.config.definition.id == 'select' %}
			  					{{ metadata.value.name }}
			  				{% elseif metadata.config.definition.id == 'checkbox' %}
			  					{% if metadata.value == 1 %}
			  						ja
			  					{% else %}
			  						nein
			  					{% endif %}
							{% else %}
			  					{{ metadata.value }}
			  				{% endif %}
			  			</dd>
		  			{% endif %}
				{% endfor %}
			</dl>
		</div>
		<div class="span6 comments">
			<div class="center padding-top-small">
				<button class="btn btn-block btn-mini {% if hasMoreComments == false %}hide{% endif %}" id="loadOlderComments" data-record-id="{{ record.id }}">
					<span class="spin hide"></span>
					{% trans %}Vorherige Kommentare...{% endtrans %}
				</button>
			</div>
			{% if comments|length == 0 %}
			<div class="alert alert-info" id="alert-no-comments">
				{% trans %}Bisher hat noch niemand diese Aufzeichnung kommentiert.{% endtrans %}
			</div>
			{% endif %}
			<ul class="comments unstyled">
				{% for comment in comments %}
					{% include 'SeleyaBundle:Record:comment_entry.html.twig' with {'comment': comment} %}
				{% endfor %}
			</ul>


			{% if is_granted('ROLE_USER') %}
			<form method="post" class="form" id="comment-form" data-record-id="{{ record.id }}">
				<div class="control-group">
					<div class="controls">
						<textarea name="textarea-comment" id="textarea-comment" class="span12" placeholder="{% trans %}Ihr Kommentar{% endtrans %}"></textarea>
    					<button type="submit" class="btn btn-primary pull-right"><span class="spin hide margin-right-small"></span>{% trans %}Kommentar absenden{% endtrans %}</button>
					</div>
				</div>
			</form>
			{% else %}
				{{ flash('warning', 'Sie m端ssen angemeldet sein, um einen Kommentar hinzuzuf端gen.'|trans, false, true) }}
			{% endif %}
		</div>
	</div>
</div>
<div class="span2 sidebar">
	{% if recentRecords|length > 0 %}
		<span class="hint">{{ record.course.name }}</span>
		<ul class="unstyled record-list-sidebar">
		{% for record in recentRecords %}
			{% set preview = 'previews/' ~ record.externalId ~ '.jpg' %}
			<li>
				<a href="{{ path('record', { 'id': record.id }) }}">
					<img src="{{ preview | imagine_filter('record_preview_sidebar') }}" /><br />
					<span class="title">{{ record.title }}</span>
					<span class="date">{{ record.recordDate|localizeddate('long', 'none') }}</span>
				</a>
			</li>
		{% endfor %}
		</ul>
		<a href="{{ path('course', {'courseId': record.course.id}) }}" class="course-link">Alle Aufzeichnungen dieser Veranstaltung</a>
	{% endif %}
</div>

{% endblock %}

{% block bottom_script %}
	<script type="text/javascript">
		var textBookmarkUnset = '{{ 'Lesezeichen hinzuf端gen'|trans }}';
		var textBookmarkSet = '{{ 'Lesezeichen entfernen'|trans }}';
		var textBookmarkNotLoggedIn = '{{ 'Sie m端ssen angemeldet sein, um ein Lesezeichen zu setzen'|trans }}';
		var isLoggedIn = {% if is_granted('ROLE_USER') %}true{% else %}false{% endif %};
		var hasBookmark = {% if hasBookmark %}true{% else %}false{% endif %};
	</script>

    {% javascripts
        '@SeleyaBundle/Resources/public/js/record/Bookmark.js'
        '@SeleyaBundle/Resources/public/js/record/Comment.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
