{% extends 'SeleyaBundle::base.html.twig' %}

{% block content %}
<div class="span10 offset1">
	<div class="row-fluid main-border">
		<div class="page-header">
			<h4>{% trans %}Beliebte Aufzeichnungen{% endtrans %}</h4>
		</div>
		<ul class="record-list-horizontal unstyled">
			{% for record in hotRecords %}
				{% set preview = 'previews/' ~ record.externalId ~ '.jpg' %}
				<li>
					<a href="{{ path('record', { 'id': record.id }) }}">
						<img src="{{ preview | imagine_filter('record_preview') }}" /><br />
						<span class="title">{{ record.title }}</span><br />
					</a>
					<span class="date">{{ record.recordDate|localizeddate('long', 'none') }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="row-fluid main-border">
		<div class="page-header">
			<h4>{% trans %}Neue Aufzeichnungen{% endtrans %}</h4>
		</div>
		<ul class="record-list-horizontal unstyled">
			{% for record in records %}
				{% set preview = 'previews/' ~ record.externalId ~ '.jpg' %}
				<li>
					<a href="{{ path('record', { 'id': record.id }) }}">
						<img src="{{ preview | imagine_filter('record_preview') }}" /><br />
						<span class="title">{{ record.title }}</span><br />
					</a>
					<span class="date">{{ record.recordDate|localizeddate('long', 'none') }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
