{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seleya/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seleya/css/bootstrap-responsive.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seleya/fonts/stylesheet.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seleya/css/layout.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seleya/css/frontend.css') }}" media="screen" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {% endblock head_script %}

    <title>Seleya</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

<body data-spy="scroll">
    {% block navbar %}
    {{ mopa_bootstrap_navbar('navbar') }}
    {% endblock navbar %}

    <div class="container-fluid container-content">

        <div class="content">
            {% block content_row %}
            <div class="row-fluid">
                {% block content %}
                <div class="span9">
            		{% if app.session.flashbag.peekAll|length > 0 %}
						{{ session_flash() }}
            		{% endif %}
                	{% block content_content %}
                    {% endblock content_content %}
                </div>
                <div class="span3 sidebar">
                    {% block content_sidebar %}
                    {% endblock content_sidebar %}
                </div>
                {% endblock content %}
            </div>
            {% endblock content_row %}
        </div>
        <footer>
        </footer>
    </div> <!-- /container -->
    {% javascripts
        '@BmatznerJQueryBundle/Resources/public/js/jquery.min.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@SeleyaBundle/Resources/public/js/bootstrap.min.js'
        '@SeleyaBundle/Resources/public/js/spin.min.js'
        '@SeleyaBundle/Resources/public/js/ui.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery-ui.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% block bottom_script %}
    {% endblock bottom_script %}

</body>
</html>
