{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	{% stylesheets
    	'bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css'
    	'bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css'
    	'bundles/seleya/css/bootstrap.min.css'
    	'bundles/seleya/css/bootstrap-responsive.min.css'
    	'bundles/seleya/css/bootstrap-chosen.min.css'
    	'bundles/seleya/fonts/stylesheet.css'
    	'bundles/seleya/css/layout.css'
    	'bundles/seleya/css/admin.css'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {% endblock head_script %}

    <title>Seleya</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

<body data-spy="scroll">
    {% block navbar %}
    {{ mopa_bootstrap_navbar('adminNavbar') }}
    {% endblock navbar %}

    <div class="container container-content">

        <div class="content">
            {% block page_header %}
            <div class="page-header">
                  <h2>{% block headline %}Seleya{% endblock headline %}</h2>
            </div>
            {% endblock page_header %}


            {% block content_row %}
            <div class="row-fluid">
                {% block content %}
                <div class="span9">
            		{% if app.session.flashbag.peekAll|length > 0 %}
						{{ session_flash() }}
            		{% endif %}
                	{% block content_content %}
                    {% endblock content_content %}
                </div>
                <div class="span3 sidebar">
                    {% block content_sidebar %}
                    {% endblock content_sidebar %}
                </div>
                {% endblock content %}
            </div>
            {% endblock content_row %}
        </div>
    </div> <!-- /container -->
    {% javascripts
        '@BmatznerJQueryBundle/Resources/public/js/jquery.min.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@SeleyaBundle/Resources/public/js/bootstrap.min.js'
        '@SeleyaBundle/Resources/public/js/spin.min.js'
        '@SeleyaBundle/Resources/public/js/chosen.jquery.min.js'
        '@SeleyaBundle/Resources/public/js/ui.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery.ui.core.min.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery.ui.widget.min.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery.ui.mouse.min.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery.ui.sortable.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% block bottom_script %}
    {% endblock bottom_script %}

</body>
</html>
