{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	{% stylesheets
    	'bundles/seleya/css/bootstrap.min.css'
    	'bundles/seleya/css/bootstrap-responsive.min.css'
    	'bundles/seleya/fonts/stylesheet.css'
    	'bundles/seleya/css/layout.css'
    	'bundles/seleya/css/frontend.css'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {% endblock head_script %}

    <title>Seleya</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

<body data-spy="scroll">
    {% block navbar %}
    {{ mopa_bootstrap_navbar('navbar') }}
    {% endblock navbar %}

    <div class="container-fluid container-content">

        <div class="content">
            {% block content_row %}
          	{% if app.session.flashbag.peekAll|length > 0 %}
        	    <div class="row-fluid">
					{{ session_flash() }}
    	        </div>
			{% endif %}
            <div class="row-fluid">
                {% block content %}
                {% endblock content %}
            </div>
            {% endblock content_row %}
        </div>
    </div> <!-- /container -->
    {% javascripts
        '@BmatznerJQueryBundle/Resources/public/js/jquery.min.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery.ui.core.min.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/minified/jquery.ui.effect.min.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@SeleyaBundle/Resources/public/js/bootstrap.min.js'
        '@SeleyaBundle/Resources/public/js/chosen.jquery.min.js'
        '@SeleyaBundle/Resources/public/js/spin.min.js'
        '@SeleyaBundle/Resources/public/js/ui.js'
		%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% block bottom_script %}
    {% endblock bottom_script %}

</body>
</html>
